* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Nunito, sans-serif;
}

main {
    padding: 24px;
}

.country-details{
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
}

section {
    padding-inline: 48px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60vw;
    min-width: 300px;
}

a {
    text-decoration-line: none;
    color: inherit;
}

button {
    margin-left: 24px;
    width: 20vw;
    max-width: 120px;
    height: 35px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow:0px 0px 7px 0px rgba(0, 0, 0, 0.3);
}


.header-container {
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
    padding-inline: 24px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-inline: auto;
}

.title {
    font-weight: 800;
}

img {
    width: 500px;
}

@media(max-width: 768px) {
    img {
        width:300px;
        margin: auto;
    }
}

.border-country {
    margin: 20px 4px;
    padding: 4px 8px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow:0px 0px 7px 0px rgba(0, 0, 0, 0.3);
    
    flex-wrap: wrap;
}