* {
    box-sizing: border-box;
}

:root {
    --background-color: hsl(0, 0%, 98%);
    --text-color: hsl(200, 15%, 8%);
    --element-color: hsl(0, 0%, 100%);
    --shadow-color: rgba(0, 0, 0, 0.18);
}

.dark-mode {
    --background-color: hsl(0, 0%, 8%);
    --text-color: hsl(0, 0%, 100%);
    --element-color: hsl(0, 0%, 14%);
    --shadow-color: rgba(0, 0, 0, 0.35);
}

body {
    margin: 0;
    font-family: nunito, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.2s ease, color 0.2s ease;
}   

button {
    margin-left: 24px;
    width: 20vw;
    max-width: 120px;
    background-color: var(--element-color);
    color: var(--text-color);
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 7px var(--shadow-color);
}

.header-container {
    background-color: var(--element-color);
    box-shadow: 0 4px 4px 0px var(--shadow-color);
    padding-inline: 24px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-inline: auto;
}

.title {
    font-weight: 800;
}

main {
    padding: 24px;
}

a {
    text-decoration-line: none;
    color: inherit;
}

.countries-container {
    max-width: 1200px;
    margin-inline: auto; 
    margin-top: 16px;
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.country-card {
    display: inline-block;
    width: 250px;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 24px;
    background-color: var(--element-color);
    box-shadow: 0 0 8px 0px var(--shadow-color);
    transition: all 0.2s ease-in-out;
}

.country-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 16px 0px var(--shadow-color);
}

img {
    width: 100%;
}

.country-info {
    padding-inline: 16px;
}

@media(max-width: 768px) {
    .countries-container {
        justify-content: center;
    }
}

p {
    margin: 8px 0;
}